<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0">
  <div class="container-fluid mt-0 mb-0">
    <%= link_to "/", class: "navbar-brand" do %>
      <h1 class="mt-1">Verifi</h1>
    <% end %>
    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <i class="fa-solid fa-bell dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" ></i>
            <%= current_user.notifications.where(unread: true).count %>
            <ul class="dropdown-menu dropdown-menu-end">
              <% current_user.notifications.where(unread: true).each do |notification| %>
                <li><%= link_to "New comment", post_path(notification.post), class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
