<div class="container">
  <div class="row justify-content-center m-3">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8">
      <h1>Tips</h1>
      <div class="post-card">
        <p>Verifi's scores are desgined to emphasis the most explicit part of the photo. </p>
        <p>A high number in sexual display indicated our AI sees that label as the most explicit part of the photo. </p>
        <p>Graphs are ordered from most explicit labels to least explicit labels.</p>
      </div>
      <div class="post-card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Label</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Sexual display </th>
              <td>
                <p>Exposure of genitals/sexual organs</p>
                <p>Exposed genitalia (transgender included), vulva, anus, male penises, both erect and non-erect, or testicles, either directly visible or through transparent, see-through or sheer clothing</p>
                <p>Sex toys not in use: dildos, sex dolls, fleshlights, butt plugs & beads</td>
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Erotica</th>
            <td>
              <p>Exposure of breasts, nude buttocks or the pubic region</p>
              <p>Nude female breasts, female breasts with visible nipples or areola</p>
              <p>Nude buttocks, both male and female, in a non-sexual setting</p>
              <p>Pubic region, pubic hair, female crotch region or area around genitals with no genitals visible</p>
            </td>
          </tr>
          <tr>
            <th scope="row">Suggestive</th>
            <td>
              <p>Situations that can be considered sexually suggestive or inappropriate, but do not include full nudity or sexual acts</p>
            </td>
          </tr>
          <tr>
            <th scope="row">Gore</th>
            <td>
              <p>Horrific imagery such as blood, guts, self-harm,or wounds</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
