<div class="container">
  <div class="row justify-content-center m-3">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8">
      <h1>Tips</h1>
      <div class="post-card">
        <p>Verifi's scores are desgined to emphasis the most explicit part of the photo. </p>
        <p>A high number in sexual display indicated our AI sees that label as the most explicit part of the photo. </p>
        <p>Graphs are ordered from most explicit labels to least explicit labels.</p>
      </div>
    </div>
  </div>
</div>
