<div class="container">
  <h1>Tips</h1>
  <p>The scores on our Verifi page are made to emphasis the most explicit part of the photo. A high number in sexual display means the AI sees that label as the most explicit part of the photo. Graphs are ordered from most explicit labels to least explicit labels.</p>
</div>
