<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8">
      <h3 class="mb-4 mt-4 text-center">My Results</h3>
      <div class="card-grid mb-5">
        <% @results.order(created_at: :desc).each do |result| %>
          <div class="post-card-result">
            <%= link_to image_result_path(result), class:"no-text-decoration" do %>
              <%= cl_image_tag result.photo.key, class: "w-100 post-img" %>
              <div class="ps-2 pe-2 d-flex justify-content-between">
                <p class="mt-1 mb-0 pt-2 ps-1">
                  <%= result.created_at.strftime("%B %d") %></p>
                <% if result.risk_category[:danger].empty? %>
                  <p class="risk-label no-risk mt-2 me-1"> No risk </p>
                <% else %>
                  <p class="risk-label at-high-risk mt-2 me-1"> At risk </p>
                <% end %>
              </div>
            <% end %>
            <%= link_to image_result_path(result), data: { turbo_method: :delete, turbo_confirm: "Delete post?" } do %>
              <i class="fa-solid fa-xmark xmark"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
