<div class="container">
  <h1>Results</h1>
  <% @results.each do |result| %>
    <div class="cards">
      <%= link_to image_result_path(result) do %>
        <%= cl_image_tag result.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  <% end %>
</div>
