<div class="container">
  <h1>All Posts</h1>
  <% @posts.each do |post| %>
    <div class="cards">
      <%= post.title %>
      <%= post.user.user_name %>
      <%= post.content %>
      <%= post.photo %>
    </div>
  <% end %>
</div>
