.button {
  transition-duration: 0.2s;
    background-color: #927AC1;
    border: none;
    color: white;
    padding: 8px 16px;
    height: 35px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    max-width: max-content;
    border-radius: 10px;
  }

.button:hover {
  background-color: #e6e289;
  color: white;
}
