.navbar-lewagon {
  justify-content: space-between;
  background: #FBE4E7;
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
}

.nav-item {
  margin-left: 10px
}

@media(max-width: 567px)  {
  .nav-item {
    margin-left: 0
  }
}

body {
  margin-top : 60px;
}

@media screen and (min-width: 845px) {
  h1 {
     font-size: 32px;
  }
}
