
.post-card {
 border: 1px solid rgba(210, 207, 207, 0.685);

padding: 16px;
vertical-align: baseline;
margin: 2px;
border-radius: 3px;
max-width: 800px;
}
.post-card h1{
font-size: 14px;
padding: 2px;
}
.post-card h2{
  font-size: 20px;
}
.post-card p{
  font-size: 16px;
}
.post-card:hover {
  color: black;
}
