
.post-card {
 border-bottom: 1px solid rgb(174, 174, 174);
padding: 16px;
}
.post-card h1{
font-size: 14px;
padding: 2px;
}
.post-card h2{
  font-size: 20px;
}
.post-car p{
  font-size: 16px;
}
.post-card:hover {
  color: black;
}

