
.card-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px
}

.post-card-result {
  box-shadow: rgba(0, 0, 0, 0.15) -2.1px 2.1px 2.8px;
  border: solid 0.1px rgb(185, 185, 185);
  vertical-align: baseline;
  border-radius: 3px;
  max-width: 800px;
  position: relative;
  vertical-align: baseline;
  margin: 2px;
  border-radius: 10px;

  }

.post-img {
  height: 210px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.xmark {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(249, 249, 249);
  font-size: 20px;
}

.risk-label {
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
}

.no-risk {
  background-color: #7ED4B0;
}

.at-risk {
  background-color: #F8D891;
}

.at-high-risk {
  background-color: #EC869A;
}

.fa-circle-question {
  font-size: 14px;
  color: white;
}
